# Ignorar entorno virtual (nuevo y anterior)
venv/
Lib/
Include/
Scripts/
pyvenv.cfg

# Archivos de Python no necesarios
__pycache__/
*.pyc
*.pyo
*.log

# Variables de entorno
.env

# Otros temporales
*.db
*.sqlite3
.DS_Store

